@charset "utf-8";

@import './_shared';
@import './_mixins';

@import 'node_modules/bulma/sass/base/_all';
@import 'node_modules/bulma/sass/elements/_all';
@import 'node_modules/bulma/sass/grid/_all';
@import 'node_modules/bulma/sass/components/_all';
@import 'node_modules/bulma/sass/layout/_all';

/* Buefy UI components */
@import 'node_modules/buefy/src/scss/buefy';

/* Better row level spacing so no more overlap */
.columns {
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.container {
    @include desktop() {
        &.is-ultra-widescreen-fluid {
            margin-left: $gap;
            margin-right: $gap;
            max-width: none;
            width: auto;
        }
    }
    @include ultra-widescreen() {
        &.is-ultra-widescreen-fluid {
            margin: auto;
            max-width: $ultra-widescreen;
            width: auto;
        }
    }
}

/* Components */
@import 'components/_all';
